/*Import for google fonts*/
@import url('https: //fonts.googleapis.com/css2?family=Tektur:wght@400;500;600;700;800;900&display=swap');

/*The wildacard selector to override browser default styles*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*General Styles*/
body {
    color: black;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'tektur', sans-serif;
    background-color: #F4E285;
}

header {
    background-color: #8CB369;
    width: 100%;
    height: 10%;
    text-align: center;
    box-shadow: -1px 4px 17px 0px rgba(0, 0, 0, 1);
}

header p {
    font-size: 7vw;
}

#introduction {
    margin: 5%;
    text-align: center;
    background-color: #F4A259
}

#choose-stage {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 5%;
    background-color: #F4A259
}

.stage-button {
    flex: 0 0 20%;
    aspect-ratio: 1/1;
    background-color: #5B8E7D;
    text-align: center;
    font-size: 15vw;
    margin: 2%;
    font-family: 'tektur', sans-serif;
}

.stage-button:active {
    background-color: #8CB369;
}
.stage-button:hover {
    background-color: #8CB369;
}

#game-section {
    margin: 5%;
    text-align: center;
    background-color: #F4A259;
    padding: 2%;
}

#submit-answer {
    background-color: #8CB369;
}

#score-section {
    margin: 5%;
    padding: 2%;
    background-color: #F4A259;
    text-align: center;
}

#reset-score {
    background-color: #5B8E7D;
}



/*Footer*/
footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    box-shadow: 1px 1px 25px 11px rgba(0, 0, 0, 0.57);
    background-color: #8CB369;
}