/*Import for google fonts*/
@import url('https: //fonts.googleapis.com/css2?family=Tektur:wght@400;500;600;700;800;900&display=swap');

/*The wildacard selector to override browser default styles*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*General Styles*/
body {
    color: black;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'tektur', sans-serif;
    background-color: #cccccc;
}

header {
    background-color: #FFFFFF;
    width: 100%;
    height: 10%;
    text-align: center;
    box-shadow: -1px 4px 17px 0px rgba(0, 0, 0, 1);
}

header p {
    font-size: 7vw;
}

#choose-stage {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

}

.stage-button {
    flex: 0 0 20%;
    aspect-ratio: 1/1;
    background-color: green;
    text-align: center;
    font-size: 15vw;
    margin: 2%;
}

.stage-button:active {
    background-color: aqua;
}
.stage-button:hover {
    background-color: ;
}

/*Footer*/
footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    box-shadow: 1px 1px 25px 11px rgba(0, 0, 0, 0.57);
}